[{*.kts,*.kt}]
indent_size=4
ktlint_standard_package-name = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
